cookbook_paths:
- .cookbooks/
recipes:
- workstation::create_var_chef_cache
- workstation::rename_machine
- workstation::java
- workstation::macports
- workstation::bash_path_order
- workstation::bash_profile-better_history
- workstation::bash_profile-ctrl-o
- workstation::bash_profile-ctrl-s
- workstation::bash_profile-git_completion
- workstation::bash_profile-no_sudo_gem_install
- workstation::bash_profile-ps1
- workstation::global_environment_variables
- workstation::unix_essentials
- workstation::1password
- workstation::ack
- workstation::active_corners
- workstation::adium
- workstation::airparrot
- workstation::alfred
- workstation::ca_certs_to_match_heroku
#- workstation::charles_proxy
- workstation::chrome
- workstation::canary
- workstation::commandq
- workstation::controlplane
- workstation::defaults_fast_key_repeat_rate
- workstation::disable_front_row
- workstation::dock_preferences
- workstation::dropbox
- workstation::finder_display_full_path
- workstation::finder_show_all_files
- workstation::firefox
- workstation::function_keys
- workstation::gabble
- workstation::git
- workstation::git_config_global_defaults
- workstation::git_projects
- workstation::github_for_mac
- workstation::github_ssh_keys
- workstation::gitx
- workstation::global_environment_variables
- workstation::imagemagick
- workstation::input_on_login
- workstation::inputrc
- workstation::locate_on
- workstation::mailplane
- workstation::menumeters
- workstation::mouse_locator
- workstation::mysql
- workstation::node_js
- workstation::lessc
- workstation::openssh
- workstation::osx_updates
- workstation::pg_admin
- workstation::plex
- workstation::postgres
- workstation::qt
- workstation::redis
- workstation::rvm
- workstation::safari_preferences
- workstation::screen_sharing_app
- workstation::screen_sharing_on
- workstation::sequelpro
- workstation::set_finder_show_hd_on_desktop
- workstation::set_multitouch_preferences
- workstation::set_screensaver_preferences
- workstation::sidestep
- workstation::sizeup
- workstation::skype
- workstation::sshd_on
#- workstation::ssl_certificate
- workstation::take_five
- workstation::terminal_preferences
- workstation::timemachine_preferences
- workstation::vim
- workstation::virtualbox
- workstation::window_focus
- workstation::workspace_directory
- workstation::ffmpeg
- workstation::default_gemset
- workstation::php
- workstation::apache_directory_studio
- workstation::mongodb
- workstation::microsoft_fonts
- workstation::carbon_copy_cloner
- workstation::afpovertcp_on
#- workstation::propane
- workstation::google_hangout
- workstation::microsoft_rdc
- workstation::adobe_air
- workstation::pallet
- workstation::wmj
- workstation::tunnelblick
- workstation::vlc
- workstation::weather-screensaver
- workstation::bartender
- workstation::ievms
- workstation::snx
- workstation::mamp
